.ProgressCircleBlock{
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.ProgressCircle{
  width: 85px;
  height: 90px;
  position: relative;
}

.Percent{
  position: absolute;
  color: #2196f3;
  top: 30%;
  right: 22%;
  font: 700 1.5rem "Montserrat", sans-serif;
}

.CircleDescription{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}

.CircleNumbers{
  font: 700 1rem "Montserrat", sans-serif;
  color: #fff;
}

.CircleKind{
  font: bold 1rem "Montserrat", sans-serif;
  color: #8492af;
}

@media (max-width: 870px) {
  .ProgressCircle{
    width: 65px;
    height: 70px;
  }
  .CircleNumbers{
    font: 700 .75rem "Montserrat", sans-serif;
  }

  .CircleKind{
    font: bold .75rem "Montserrat", sans-serif;
  }
  .Percent{
    top: 30%;
    right: 30%;
    font: 700 .75rem "Montserrat", sans-serif;
  }
}
