.HomePageChart{
  width: 832px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
}

.ProjectChart{
  width: 100%;
  background-color: #2b2d3c;
}

@media (max-width: 1330px) {
  .HomePageChart{
    margin-bottom: 40px;
  }
}

@media (max-width: 1040px) {
  .HomePageChart{
    width: 700px;
  }
}

@media (max-width: 870px) {
  .HomePageChart{
    width: 600px;
  }
}

@media (max-width: 390px) {
  .HomePageChart{
    display: none;
  }
}


